
#me {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  border-radius: 50px;

}

div {
  position: fixed;
  border: 2px solid gray;
  margin-top: 2%;
  margin-left: 1%;
}
main {

  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 0%;
  margin-bottom: 0%;
  font-family: Ariel;
  color: black;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding: 1%;
  position: relative;

}

h1 {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-size: 4em;
  font-align: left;
  color: gray
}

h2 {
    font-size: 1.5em;
    margin: 0px 0px 5px 10px;
}

h4 {
  font-size: 1.25em;
  margin: 10px 0px 7px 0px;
  border-bottom: 1px solid gray;
}

section {

}

main p {

}