
body {
  background-color: white;
  margin: 0px;
}

#left {
  background-color: white;
  position: fixed;
  height: 100%;
  width: 15%;
  display: inline-block;
  padding-left: 1px;

}

#center {
  background-color: white;
  position: fixed;
  left: 15%;
  right: 15%;
  height: 100%;
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding-left: 1%;
  padding-right: 1%;
}

#right {
  background-color: white;
  position: fixed;
  right: 0px;
  width: 15%;
  height: 100%;
  border-left: 2px solid gray;
  text-align: right;
}

#me {
  position: absolute;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  left: 20%;
  right:20%;
}

h1 {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-size: 4em;
  font-align: left;
  color: gray
}

h2 {
    font-size: 1.5em;
    margin: 0px 0px 5px 10px;
}

h4 {
  font-size: 1.25em;
  margin: 10px 0px 7px 0px;
  border-bottom: 1px solid gray;
}
